.left {
  margin: 20px;
}

.left h2,
.overlapH2 {
  font-size: 64px;
}

.left hr {
  width: 40px;
}

.overlapH2 {
  margin: 20px;
  margin-right: -40px;
}

@media screen and (max-width: 768px) {
  .left h2 {
    font-size: 2em;
  }
}
