#small {
  width: 24px;
  height: 24px;
}

#medium {
  width: 48px;
  height: 48px;
}

#large {
  width: 96px;
  height: 96px;
}

.playgrounds {
  display: flex;
  width: 90vw;
  height: 90vh;
  justify-content: space-between;
}

html {
  font-family: sans-serif;
}

@media only screen and (max-width: 746px) {
  .playgrounds {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .playgrounds > * {
    margin: 20px;
  }
}
